# requirements.txt
Flask
gunicorn
python-dotenv
schedule
pytz
requests
ccxt
pandas
pandas-ta
yfinance
pycoingecko
python-telegram-bot
googletrans==4.0.0-rc1
feedparser
numpy
imghdr-pure




