# requirements.txt
Flask
gunicorn
pycoingecko
pandas
python-telegram-bot
schedule
pytz
ccxt
python-dotenv
pandas-ta
requests
SQLAlchemy
psycopg2-binary
scikit-learn
yfinance # <--- この行を追加
